<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<appender name="ExceptionLog" type="log4net.Appender.RollingFileAppender">
			<!-- 追加書き込み -->
			<appendToFile value="true" />
			<!-- ログ・ファイル名が固定ではないので“false”を指定 -->
			<StaticLogFileName value="false" />
			<!-- 日付ごとにファイルを作成することを指定 -->
			<rollingStyle value="Date" />
			<!-- ログ・ファイル名の先頭部分 -->
			<file value=".\log\" />
			<!-- ファイル名の日付部分 -->
			<DatePattern value='yyyyMMdd"_exception.log"' />
			<!-- 出力ログレベルをWARN～ERRORとする -->
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="WARN" />
				<param name="LevelMax" value="ERROR" />
			</filter>
			<!-- 最大ファイルサイズ -->
			<param name="MaximumFileSize" value="10MB" />
			<!-- 第3世代まで管理する -->
			<param name="MaxSizeRollBackups" value="3" />
			<!-- ログの出力書式 -->
			<layout type="log4net.Layout.PatternLayout">
				<ConversionPattern value="[%date{yyyyMMdd_HHmmss}]&#x9;%message%newline" />
			</layout>
		</appender>
		<root>
			<level value="WARN" />
			<appender-ref ref="ExceptionLog" />
		</root>	
	</log4net>
</configuration>